*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  opacity: 100%;
  /* transition: 0.25s; */
}

.mobile-navbar {
  display: none;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#loader1,
#loader2,
#loader3 {
  width: 37.5px;
  height: 37.5px;
}

.imgs-as-icons {
  width: 50px;
  height: 50px;
}

.navbar {
  /* background: #212a51; */
  background: rgba(0, 0, 0, 0.375);
  text-align: right;
  opacity: 100%;
  transition: 0.3s;
}

/* START OF MOBILE STYLES */

.mobile-navbar {
  list-style-type: none;
  /* background: rgba(0, 0, 0, 1.0); */
  opacity: 100%;
  transition: 0.3s;
}

.mobile-navbar li {
  margin: 7.5px auto;
  width: 87.5%;
}

.mobile-navbar li input {
  height: 50px;
  width: 100%;
  background: #1d1d1f;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 50px;
  outline: none;
  font-size: 20px;
}

.mobile-navbar input::placeholder {
  color: lightgrey;
}

/* END OF MOBILE STYLES */


